nav.navbar.navbar-expand-md.fixed-top#navigation
  .container
    a.navbar-brand(href="/") bookie
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navigationLinks" aria-controls="navigationLinks" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    
    .collapse.navbar-collapse#navigationLinks
      ul.navbar-nav.ml-auto
        each item in helpers.menu
          li.nav-item
            a.nav-link(href=`${item.slug}`) #{item.title}