/**
* Contents
*
*   1. Imports
*   2. Global Styles
*   3. Starter Template
*   4. Media Queries
*/

/* 1. Imports
-------------------------------------------*/

@import "bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
@import "colors";


/* 2. Global Styles
-------------------------------------------*/

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';


/* 3. Starter Template
-------------------------------------------*/

// FLASH ALERTS

.alert {
  padding: 1rem 1.25rem;
  height: 60px;
}


// FORM OUTLINE 

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus { border-color: rgba(255, 255, 255, 0.8); box-shadow: 0 1px 1px rgba(41, 41, 41, 0.274) inset, 0 0 8px rgba(68, 65, 64, 0.6); outline: 0 none; }

// GENERAL STYLING RULES:

body {
  margin-top: 80px;
  position: relative;
  padding-bottom: 150px;;
  height: 100%;

  @include media-breakpoint-down(md) { 
    margin-top: 40px;
    padding-bottom: 90px;
  }
}

#navigation {
  background-color: white;

  .navbar-toggler-icon {
    background-image: url('/images/menu.png')
  }

  .container {
    width: 55%;

    @include media-breakpoint-down(md) { 
      width: 80%;
    }
  }

  .navbar-brand {
    color: $pink;
  }

  .navbar-nav {
    margin-top: -5px;
  }

}

#navigationLinks {
  padding-top: .5rem;
  list-style: none;
  
  li {
    color: $pink;
    font-weight: 300;
    margin: .3rem .8rem;
    transition: 2s;
    // text-shadow: 2px 2px 4px black;
    
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: $pink;
      transition: width .3s ease-in;
      // box-shadow: 0 0 2px $pink;
    }

    &:hover::after {
      width: 100%;
    }

    a {
      color: inherit;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

#mainImage {
  width: 50%;
  padding: 10% 0;
  
  
  img {
    max-height: 265px;
  }
  
  h2 {
    color: $main;
    margin-bottom: 1rem;
  }
  
  a {
    margin-right: 1rem;
    color: white;
    
    &:hover {
      background-color: $green;
      border-color: $green;
    }
  }

  @include media-breakpoint-down(lg) { 
    width: 80%;
    
  }
  
  @include media-breakpoint-down(md) { 
    width: 90%;
    padding: 15% 0;

    img {
      display: none;
    }

    .display-4 {
      text-align: center !important;
    }

    a {
      margin-right: 1.5rem;
    }
  }


}

#formContainer {
  margin-top: 7rem;
  margin-bottom: 3rem; 

  .card {
    border: none;
    position: relative;

    label {
      margin: 1rem .3rem 0 0;
    }

    input {
      padding: .4rem;
    }

    input[type='text'], textarea {
      border: none;
      border-bottom: 1px solid black;
    }

    .tag {
      margin: .5rem;
      border-radius: 5px;
      
      input{
        margin: 0;
        padding: 0;

        &:checked + label {
          color: $pink;
        }
      }

      label {
        margin: .3rem .6rem .3rem 1.7rem;
      }

      & .custom-control-label::before {
        position: absolute;
        top: 1rem;
        left: .4rem;
      }

      & .custom-control-label::after {
        position: absolute;
        top: 1rem;
        left: .4rem;
      }
      & .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, 
      & .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $pink;
      }
    }

    input.btn {
      border: 1px solid $pink;
      background-color: transparent;
      &:hover {
        background-color: rgba(82, 80, 80, 0.322);
        color: white;
        font-weight: 700;
        border: none;
      }
    }
  }
}

#bookPage {
  margin-top: 7rem;
  border: 2px solid $pink;
  border-radius: 1rem;
  padding: 3rem;

  .book {
    &-info {
      margin-bottom: 1rem;

      
      
      h6 {
        color: rgb(109, 109, 109);
        text-transform: uppercase;
      }
    }
    
    &-otherinfo {
      
      .bold {
        font-weight: bold;
      }
      
    }
  }
  
  .tagcategory {
    padding: .5rem .7rem;
    border: 1px solid $pink;
    border-radius: 10px;
    margin: .5rem;
    
    a {
      color: $pink;
      text-decoration: none;
      
      &:hover {
        font-weight: 700;
      }
    }
  }
  
  @include media-breakpoint-down(md) {
    .display-3 {
      font-size: 2.5rem;
    }
  
    .display-4 {
      font-size: 2rem;
    }
  }
}

#booklist {
  width: 95%;
  margin-bottom: 2rem;
  
  h2 {
    color: $main;
    margin: 9rem 0 2rem 1rem;
  }
  
  .book {
    border: 1px solid $pink;
    border-radius: .7rem;
    padding: 1rem;
    margin: 1rem 0;
    height: 210px;

    .description {
      font-size: .9rem;
    }

    a {
      color: grey;
      text-decoration: none;
    }
    &:hover {
      box-shadow: 0px 0px 10px #a8a8a8;
      transition: all .5s;
      
      a {
        color: $pink;
        text-decoration: none;
      }
    }
  }

  @include media-breakpoint-down(lg) { 
    width: 80%;
    
  }
  
  @include media-breakpoint-down(md) { 
    width: 90%;
    h2 {
      margin-top: 4rem;
    }
  }
}

#tags {
  h2 {
    margin: 9rem 0 2rem 1rem;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    
    .tag {
      display: inline-block;
      margin-right: 1rem;
      border: 1px solid $main;
      border-radius: 10px;
      padding: .5rem;

      a {
        color: $main;
        &:hover {
          text-decoration: none;
          font-weight: 700;
        }
      }

      &-name {
        margin-right: 1.5rem;
      }

      // &-count {
        
      // }

      &-active {
        font-weight: 700;
      }
    }
    a.tag-active {
      color: $pink;
      border-color: $pink;
    }
  }

  .book {
    border: 1px solid $pink;
    border-radius: .7rem;
    padding: 1rem;
    margin: 1rem 0;
    min-height: 180px;

    .description {
      font-size: .9rem;
    }

    a {
      color: grey;
      text-decoration: none;
    }
    &:hover {
      box-shadow: 0px 0px 10px #a8a8a8;
      transition: all .5s;
      
      a {
        color: $pink;
        text-decoration: none;
      }
    }
  }
}

#footer {
  color: $main;
  padding: 1rem;
  position: absolute;
  bottom: 0;

  .container {
    width: 60%;
    margin: 0 auto;

    p {
      margin: .5rem 0;
    }
    
    a {
      color: $pink;
    }
  }
  
  ul {
    list-style-type: none;
    margin-bottom: 0;
    
    a.nav-link {
      display: inline-block;
      padding: .5rem;

      &:hover {
        color: $main;
        font-size: 1.2rem;
      }
    }
  }
  
  @include media-breakpoint-down(md) { 
    padding: .5rem;

    .container {
      width: 100%;
      padding-left: 0;
    }

    ul {    
      a.nav-link {
        padding-top: 1rem;

        &:hover {
          font-size: .9rem;
        }
      }
    }

    font-size: .85rem;
  }
}