/**
* Contents
*
*   1. Imports
*   2. Global Styles
*   3. Starter Template
*   4. Media Queries
*/

/* 1. Imports
-------------------------------------------*/

@import "bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
@import "colors";


/* 2. Global Styles
-------------------------------------------*/

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';


/* 3. Starter Template
-------------------------------------------*/

// FLASH ALERTS

.alert {
  padding: 1.5rem 1.25rem;
  height: 60px;
}


// GENERAL STYLING RULES:

body {
  margin-top: 80px;
}


#navigation {
  background-color: white;

  .container {
    width: 55%;
  }

  .navbar-brand {
    color: $pink;
  }

  .navbar-nav {
    margin-top: -5px;
  }

}

#navigationLinks {
  padding-top: .5rem;
  list-style: none;
  
  li {
    color: $pink;
    font-weight: 300;
    margin: .3rem .8rem;
    transition: 2s;
    // text-shadow: 2px 2px 4px black;
    
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: $pink;
      transition: width .3s ease-in;
      // box-shadow: 0 0 2px $pink;
    }

    &:hover::after {
      width: 100%;
    }

    a {
      color: inherit;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

#mainImage {
  width: 50%;
  padding-top: 5%;
  img {
    height: 265px;
  }

  h2 {
    margin-bottom: 1rem;
  }
  
  a {
    margin-right: 1rem;
    color: white;

    &:hover {
      background-color: $green;
      border-color: $green;
    }
  }
}

#formContainer {
  margin-top: 7rem;

  .card {
    border: none;

    label {
      margin: 1rem .3rem 0 0;
    }

    input {
      padding: .4rem;
    }

    .tag {
      margin: .5rem;
      border-radius: 5px;
      
      input{
        margin: 0;
        padding: 0;

        &:checked + label {
          color: $pink;
        }
      }

      label {
        margin: .3rem .6rem .3rem 1.7rem;
      }

      & .custom-control-label::before {
        top: 1rem;
        left: .4rem;
      }

      & .custom-control-label::after {
        top: 1rem;
        left: .4rem;
      }
      & .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, 
      & .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $pink;
      }
    }
  }
}

#bookPage {
  margin-top: 7rem;
  border: 2px solid $pink;
  border-radius: 1rem;
  padding: 3rem;

  .book {
    &-info {
      margin-bottom: 1rem;
      
      h6 {
        color: rgb(109, 109, 109);
        text-transform: uppercase;
      }
    }

    &-otherinfo {
      
      .bold {
        font-weight: bold;
      }
      
    }
  }
}