extends layout

block content 
  .container.mt-5#mainImage
    .row
      img.img-fluid.col-12.col-lg-4(src='/images/books.png')
      .col-12.col-lg-8.mt-2.text-right
        .container
          .row
            .col-12.col-lg-10
              h2.display-4 Hi there!
              p.text-justify This is an online library where you can find coding-related books. It is an open source project and you are welcome to contribute to it. Have fun!
              a.btn.btn-danger(href='/tags') Find a book
              a.btn.btn-danger(href='/addBook') Add a book 